<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peasec Threat Intelligence Platform</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'custom/styles.css')}}">
    <script src="{{ url_for('static',filename = 'bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'custom/collection/view_collection.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
{#header section#}
        <div class="row">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg bg-light  navbar-light fixed-top " role="navigation">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static',filename='images/peaseclogo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                    PEASEC Threat Intelligence Platform</a>
                <div class="navbar-collapse">
                    <ul class=" nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                  </ul>
                </div>
                    <div class="clearfix mr-lg-5 pr-lg-5">
                        <ul class="nav navbar-nav mr-lg-auto float-lg-right " >
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><span class="glyphicons glyphicons-user">
                            </span>{{ session['user'] }}</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                          </li>
                        </ul>
                    </div>
            </nav>
            <!--/.Navbar-->
       </div>
{#    body content section#}
    <div class="row attkpat_bodycontent ">
        <div class="col-lg-6">
            <div class="alert alert-info">
            <form method="POST" action="{{ url_for('delete_all_entry') }}">
                <input type="hidden" class="form-control " name="id" value="{{ main.id }}">
                <input type="hidden" name="obj_type" value="{{ main.type }}">
                <strong>If you wish to delete the main object and all other associated information</strong>
              <button type="submit" class="btn btn-primary">Click here</button>
            </form>
            </div>
        </div>
        <div class="col-lg-6">
            {% if publishedflag != 1 %}
            <div class="alert alert-success">
            <form method="POST" action="{{ url_for('generate_maec5') }}">
                <input type="hidden" class="form-control " name="id" value="{{ main.id }}">
                <input type="hidden" name="obj_type" value="{{ main.type }}">
                <strong>To publish as MAEC content then</strong>
              <button type="submit" class="btn btn-primary">Click here</button>
            </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">{{ main.type }}</div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Values</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b>Id:</b></td>
                                <td>{{main.id}}</td>
                              </tr>
                              <tr>
                                <td><b>Description:</b></td>
                                <td>{{main.description}}</td>
                              </tr>
                            <tr>
                                <td><b>Association type:</b></td>
                                <td>{{main.association_type}}</td>
                              </tr>
                            <tr>
                                <td><b>Entity references:</b></td>
                                <td>{{main.entity_refs}}</td>
                              </tr>

                            </tbody>
                          </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-6">
        {% if observableref_flag == 1 and entityref_flag == 0 %}
            <div class="card">
                <div class="card-header">Observable references:</div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-sm">
                                          <thead>
                                            <tr >
                                              <th >Observable Id</th>
                                              <th >Observable Name</th>
                                              <th >Actions</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for dat in obsdata %}
                                            <tr  row_id="{{ dat.id }}">
                                                <td ><div class="row_data" col_name="id">{{dat.id}}</div></td>
                                                <td ><div class="row_data" col_name="obs_type">{{dat.type}}</div></td>
                                                <td ><span class="btn_view" > <a href="#" class="btn btn-link " data-toggle="modal" data-target="#{{ dat.type }}" row_id="{{ dat.id }}" > View</a> </span>
                                                        <span class="btn_delete" > <a href="#" class="btn btn-link " row_id="{{ dat.id }}" > Delete</a> </span>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>
                              </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>



{#        footer section#}
       <div class="row">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
                <span class="navbar-text"> All rights reserved @ PEASEC </span>
            </nav>
        </div>
</div>
{# Modals sections #}
<div class="modal fade" id="artifact">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Artifact</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_artifact"></td>
                  </tr>
                  <tr>
                    <td>Mime Type</td>
                    <td id="mime_type_artifact"></td>
                  </tr>
                  <tr>
                    <td>Payload bin</td>
                    <td id="payload_bin_artifact"></td>
                  </tr>
                  <tr>
                    <td>URL</td>
                    <td id="url_artifact"></td>
                  </tr>
                    <tr>
                    <td>Hash Type</td>
                    <td id="hash_type_artifact"></td>
                  </tr>
                    <tr>
                    <td>Hash Value</td>
                    <td id="hash_val_artifact"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="autonomous-system">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Autonomous System</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_as"></td>
                  </tr>
                  <tr>
                    <td>Number</td>
                    <td id="number_as"></td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td id="name_as"></td>
                  </tr>
                  <tr>
                    <td>RIR</td>
                    <td id="rir_as"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="directory">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Directory</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_dir"></td>
                  </tr>
                  <tr>
                    <td>Path</td>
                    <td id="path_dir"></td>
                  </tr>
                  <tr>
                    <td>Path encoding</td>
                    <td id="path_enc_dir"></td>
                  </tr>
                  <tr>
                    <td>Created</td>
                    <td id="created_dir"></td>
                  </tr>
                <tr>
                    <td>Modified</td>
                    <td id="modified_dir"></td>
                  </tr>
                <tr>
                    <td>Accessed</td>
                    <td id="accessed_dir"></td>
                  </tr>
                <tr>
                    <td>Contains References</td>
                    <td id="contains_refs_dir"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="domain-name">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Domain Name</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_dn"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_dn"></td>
                  </tr>
                  <tr>
                    <td>Resolves to References</td>
                    <td id="resolves_to_refs_dn"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="email-addr">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Email Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_emaddr"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_emaddr"></td>
                  </tr>
                  <tr>
                    <td>Display name</td>
                    <td id="display_name_emaddr"></td>
                  </tr>
                    <tr>
                    <td>Belongs to reference</td>
                    <td id="belongs_to_ref_emaddr"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="email-message">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Email Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_emmsg"></td>
                  </tr>
                  <tr>
                    <td>Is Multipart</td>
                    <td id="is_multipart_emmsg"></td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td id="date_emmsg"></td>
                  </tr>
                  <tr>
                    <td>Content Type</td>
                    <td id="content_type_emmsg"></td>
                  </tr>
                  <tr>
                    <td>From reference</td>
                    <td id="from_ref_emmsg"></td>
                  </tr>
                <tr>
                    <td>Sender reference</td>
                    <td id="sender_ref_emmsg"></td>
                  </tr>
                <tr>
                    <td>To reference</td>
                    <td id="to_refs_emmsg"></td>
                  </tr>
                <tr>
                    <td>CC reference</td>
                    <td id="cc_refs_emmsg"></td>
                  </tr>
                <tr>
                    <td>BCC reference</td>
                    <td id="bcc_refs_emmsg"></td>
                  </tr>
                <tr>
                    <td>Subject</td>
                    <td id="subject_emmsg"></td>
                  </tr>
                <tr>
                    <td>Received lines</td>
                    <td id="received_lines_emmsg"></td>
                  </tr>
                <tr>
                    <td>Additional header fields</td>
                    <td id="additional_header_fields_emmsg"></td>
                  </tr>
                <tr>
                    <td>body</td>
                    <td id="body_emmsg"></td>
                  </tr>
                <tr>
                    <td>Raw email reference</td>
                    <td id="raw_email_ref_emmsg"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="file">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">File</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_file"></td>
                  </tr>
                  <tr>
                    <td>Extensions</td>
                    <td id="extensions_file"></td>
                  </tr>
                  <tr>
                    <td>Hashes</td>
                    <td id="hashes_file"></td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td id="size_file"></td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td id="name_file"></td>
                  </tr>
                <tr>
                    <td>Name encoding</td>
                    <td id="name_enc_file"></td>
                  </tr>
                <tr>
                    <td>Magic number hex</td>
                    <td id="magic_number_hex_file"></td>
                  </tr>
                <tr>
                    <td>Mime type</td>
                    <td id="mime_type_file"></td>
                  </tr>
                <tr>
                    <td>Created</td>
                    <td id="created_file"></td>
                  </tr>
                <tr>
                    <td>Modified</td>
                    <td id="modified_file"></td>
                  </tr>
                <tr>
                    <td>Accessed</td>
                    <td id="accessed_file"></td>
                  </tr>
                <tr>
                    <td>Parent directory reference</td>
                    <td id="parent_directory_ref_file"></td>
                  </tr>
                <tr>
                    <td>Is encrypted</td>
                    <td id="is_encrypted_file"></td>
                  </tr>
                <tr>
                    <td>Encryption algorithm</td>
                    <td id="encryption_algorithm_file"></td>
                  </tr>
                <tr>
                    <td>Decryption key</td>
                    <td id="decryption_key_file"></td>
                  </tr>
                <tr>
                    <td>Content reference</td>
                    <td id="content_ref_file"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="ipv4-addr">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ipv4 Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_ipv4"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_ipv4"></td>
                  </tr>
                  <tr>
                    <td>Resolves to references</td>
                    <td id="resolves_to_refs_ipv4"></td>
                  </tr>
                  <tr>
                    <td>Belongs to references</td>
                    <td id="belongs_to_refs_ipv4"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="ipv6-addr">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ipv6 Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_ipv6"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_ipv6"></td>
                  </tr>
                  <tr>
                    <td>Resolves to references</td>
                    <td id="resolves_to_refs_ipv6"></td>
                  </tr>
                  <tr>
                    <td>Belongs to references</td>
                    <td id="belongs_to_refs_ipv6"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="mac-addr">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">MAC Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_mac"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_mac"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="network-traffic">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Network traffic</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_nettraffic"></td>
                  </tr>
                  <tr>
                    <td>Extensions</td>
                    <td id="extensions_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Start</td>
                    <td id="start_nettraffic"></td>
                  </tr>
                <tr>
                    <td>End</td>
                    <td id="end_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Is active</td>
                    <td id="is_active_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Source reference</td>
                    <td id="src_ref_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Destination reference</td>
                    <td id="dst_ref_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Source port</td>
                    <td id="src_port_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Destination port</td>
                    <td id="dst_port_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Protocols</td>
                    <td id="protocols_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Source byte count</td>
                    <td id="src_byte_count_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Destination byte count</td>
                    <td id="dst_byte_count_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Source packets</td>
                    <td id="src_packets_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Destination packets</td>
                    <td id="dst_packets_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Ipfix</td>
                    <td id="ipfix_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Source payload reference</td>
                    <td id="src_payload_ref_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Destination payload reference</td>
                    <td id="dst_payload_ref_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Encapsulated references</td>
                    <td id="encapsulated_refs_nettraffic"></td>
                  </tr>
                <tr>
                    <td>Encapsulated by reference</td>
                    <td id="encapsulated_by_ref_nettraffic"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="process">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Process</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_process"></td>
                  </tr>
                  <tr>
                    <td>Extensions</td>
                    <td id="extensions_process"></td>
                  </tr>
                <tr>
                    <td>Is hidden</td>
                    <td id="is_hidden_process"></td>
                  </tr>
                <tr>
                    <td>PID</td>
                    <td id="pid_process"></td>
                  </tr>
                <tr>
                    <td>Name</td>
                    <td id="name_process"></td>
                  </tr>
                <tr>
                    <td>Created</td>
                    <td id="created_process"></td>
                  </tr>
                <tr>
                    <td>CWD</td>
                    <td id="cwd_process"></td>
                  </tr>
                <tr>
                    <td>Arguments</td>
                    <td id="arguments_process"></td>
                  </tr>
                <tr>
                    <td>Command line</td>
                    <td id="command_line_process"></td>
                  </tr>
                <tr>
                    <td>Environment variables</td>
                    <td id="environment_variables_process"></td>
                  </tr>
                <tr>
                    <td>Opened connection references</td>
                    <td id="opened_connection_refs_process"></td>
                  </tr>
                <tr>
                    <td>Creator user reference</td>
                    <td id="creator_user_ref_process"></td>
                  </tr>
                <tr>
                    <td>Binary reference</td>
                    <td id="binary_ref_process"></td>
                  </tr>
                <tr>
                    <td>Parent reference</td>
                    <td id="parent_ref_process"></td>
                  </tr>
                <tr>
                    <td>Child references</td>
                    <td id="child_refs_process"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="software">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Software</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_software"></td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td id="name_software"></td>
                  </tr>
                <tr>
                    <td>CPE</td>
                    <td id="cpe_software"></td>
                  </tr>
                <tr>
                    <td>Languages</td>
                    <td id="languages_software"></td>
                  </tr>
                <tr>
                    <td>Vendor</td>
                    <td id="vendor_software"></td>
                  </tr>
                <tr>
                    <td>Version</td>
                    <td id="version_software"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="url">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">URL</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_url"></td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td id="value_url"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="user-account">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User account</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_useracc"></td>
                  </tr>
                  <tr>
                    <td>Extensions</td>
                    <td id="extensions_useracc"></td>
                  </tr>
                <tr>
                    <td>User Id</td>
                    <td id="user_id_useracc"></td>
                  </tr>
                <tr>
                    <td>Account login</td>
                    <td id="account_login_useracc"></td>
                  </tr>
                <tr>
                    <td>Account type</td>
                    <td id="account_type_useracc"></td>
                  </tr>
                <tr>
                    <td>Display name</td>
                    <td id="display_name_useracc"></td>
                  </tr>
                  <tr>
                    <td>Is service account</td>
                    <td id="is_service_account_useracc"></td>
                  </tr>
                <tr>
                    <td>Is privileged</td>
                    <td id="is_privileged_useracc"></td>
                  </tr>
                <tr>
                    <td>Can escalate privileges</td>
                    <td id="can_escalate_privs_useracc"></td>
                  </tr>
                  <tr>
                    <td>Is disabled</td>
                    <td id="is_disabled_useracc"></td>
                  </tr>
                <tr>
                    <td>Account created</td>
                    <td id="account_created_useracc"></td>
                  </tr>
                <tr>
                    <td>Account expires</td>
                    <td id="account_expires_useracc"></td>
                  </tr>
                <tr>
                    <td>Password last changed</td>
                    <td id="password_last_changed_useracc"></td>
                  </tr>
                <tr>
                    <td>Account first login</td>
                    <td id="account_first_login_useracc"></td>
                  </tr>
                <tr>
                    <td>Account last login</td>
                    <td id="account_last_login_useracc"></td>
                  </tr>


                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="windows-registry-key">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Windows registry key</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_winreg"></td>
                  </tr>
                  <tr>
                    <td>Key</td>
                    <td id="key_winreg"></td>
                  </tr>
                <tr>
                    <td>Modified</td>
                    <td id="modified_winreg"></td>
                  </tr>
                <tr>
                    <td>Creator user reference</td>
                    <td id="creator_user_ref_winreg"></td>
                  </tr>
                <tr>
                    <td>Number of subkeys</td>
                    <td id="number_of_subkeys_winreg"></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="x509-certificate">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">X509-Certificate</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">

                <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sno</td>
                    <td id="sno_x509"></td>
                  </tr>
                  <tr>
                    <td>Is self signed</td>
                    <td id="is_self_signed_x509"></td>
                  </tr>
                <tr>
                    <td>Hash type</td>
                    <td id="hash_type_x509"></td>
                  </tr>
                <tr>
                    <td>Hash value</td>
                    <td id="hash_value_x509"></td>
                  </tr>
                <tr>
                    <td>Version</td>
                    <td id="version_x509"></td>
                  </tr>
                <tr>
                    <td>Serial number</td>
                    <td id="serial_number_x509"></td>
                  </tr>
                <tr>
                    <td>Signature algorithm</td>
                    <td id="signature_algorithm_x509"></td>
                  </tr>
                <tr>
                    <td>Issuer</td>
                    <td id="issuer_x509"></td>
                  </tr>
                <tr>
                    <td>Validity not before</td>
                    <td id="validity_not_before_x509"></td>
                  </tr>
                <tr>
                    <td>Validity not after</td>
                    <td id="validity_not_after_x509"></td>
                  </tr>
                <tr>
                    <td>Subject</td>
                    <td id="subject_x509"></td>
                  </tr>
                <tr>
                    <td>Subject public key algorithm</td>
                    <td id="subject_public_key_algorithm_x509"></td>
                  </tr>
                <tr>
                    <td>Subject public key modulus</td>
                    <td id="subject_public_key_modulus_x509"></td>
                  </tr>
                <tr>
                    <td>Subject public key exponent</td>
                    <td id="subject_public_key_exponent_x509"></td>
                  </tr>


                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>
</div>

</body>
</html>