<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peasec Threat Intelligence Platform</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'custom/styles.css')}}">
    <script src="{{ url_for('static',filename = 'bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename = 'custom/intrusion-set/view_intrusionset.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
{#header section#}
        <div class="row">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg bg-light  navbar-light fixed-top " role="navigation">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static',filename='images/peaseclogo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                    PEASEC Threat Intelligence Platform</a>
                <div class="navbar-collapse">
                    <ul class=" nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                  </ul>
                </div>
                    <div class="clearfix mr-lg-5 pr-lg-5">
                        <ul class="nav navbar-nav mr-lg-auto float-lg-right " >
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><span class="glyphicons glyphicons-user">
                            </span>{{ session['user'] }}</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                          </li>
                        </ul>
                    </div>
            </nav>
            <!--/.Navbar-->
       </div>
{#    body content section#}
    <div class="row attkpat_bodycontent ">
        <div class="col-lg-6">
            {% if publishedflag != 1 %}
            <div class="alert alert-info">
            <form method="POST" action="{{ url_for('delete_all_entry') }}">
                <input type="hidden" class="form-control " name="id" value="{{ main.id }}">
                <input type="hidden" name="obj_type" value="{{ main.type }}">
                <strong>If you wish to delete the main object and all other associated information</strong>
              <button type="submit" class="btn btn-primary">Click here</button>
            </form>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="alert alert-success">
            <form method="POST" action="{{ url_for('generate_stix2') }}">
                <input type="hidden" class="form-control " name="id" value="{{ main.id }}">
                <input type="hidden" name="obj_type" value="{{ main.type }}">
                <strong>To publish as STIX content then</strong>
              <button type="submit" class="btn btn-primary">Click here</button>
            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">{{ main.type }}</div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Values</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b>Id:</b></td>
                                <td>{{main.id}}</td>
                              </tr>
                              <tr>
                                <td><b>Name:</b></td>
                                <td>{{main.name}}</td>
                              </tr>
                              <tr>
                                <td><b>Desciption:</b></td>
                                <td>{{main.description}}</td>
                              </tr>
                            <tr>
                                <td><b>Aliases:</b></td>
                                <td>{{main.aliases}}</td>
                              </tr>
                            <tr>
                                <td><b>First Seen:</b></td>
                                <td>{{main.first_seen}}</td>
                              </tr>
                            <tr>
                                <td><b>Last Seen:</b></td>
                                <td>{{main.last_seen}}</td>
                              </tr>
                            <tr>
                                <td><b>Goals:</b></td>
                                <td>{{main.goals}}</td>
                              </tr>
                            <tr>
                                <td><b>Resource level:</b></td>
                                <td>{{main.resource_level}}</td>
                              </tr>
                            <tr>
                                <td><b>Primary motive:</b></td>
                                <td>{{main.primary_motive}}</td>
                              </tr>
                            <tr>
                                <td><b>Secondary motive:</b></td>
                                <td>{{main.secondary_motive}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>

            </div>

        </div>
    </div>



{#        footer section#}
       <div class="row">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
                <span class="navbar-text"> All rights reserved @ PEASEC </span>
            </nav>
        </div>
</div>
</body>
</html>