

    <!-- Display of STIX content -->
 <div class="modal fade" id="view_stixcontent">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <pre id="display_publishedcontent"></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- Display of Bundle content -->
 <div class="modal fade" id="view_bundlecontent">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <pre id="display_bundlecontent"></pre>
        </div>
      </div>
    </div>
  </div>
 <!-- Display of package content -->
 <div class="modal fade" id="view_packagecontent">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <pre id="display_packagecontent"></pre>
        </div>
      </div>
    </div>
  </div>
<!-- Display of MAEC content -->
 <div class="modal fade" id="view_maeccontent">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">View</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <pre id="display_publishedmaeccontent"></pre>
        </div>
      </div>
    </div>
  </div>