 <!--Attack pattern -->
 <script src="{{ url_for('static',filename = 'bootstrap/jquery.min.js') }}"></script>
  <script>
     $(function() {

    $('#submit_kcph').click(function() {
        $.ajax({
            url: '/test',
            data: $('#killchain').serialize(),
            type: 'POST',
            success: function(response) {

                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });

    });
});
 </script>
<div class="modal fade" id="attack-pattern_update">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Attack pattern</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <form role="form" method="POST">
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label" >Name:</label>
                          <div class="col-lg-9" >
                                <input type="text" class="form-control form-control-sm" name="nm" value="">
                                <input type="hidden" class="form-control " name="type" value="attack-pattern">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label " >Description:</label>
                          <div class="col-lg-9">
                              <textarea class="form-control form-control-sm" rows="4" name="desc"></textarea>
                          </div>
                      </div>
                </form>
                  <label class="font-weight-bold" >List of kill_chain_phases:</label>
                    <form method="POST" id="killchain" role="form" >
                        <div class="form-group row">
                          <label class="col-lg-4 col-form-label" >Kill chain name:</label>
                          <div class="col-lg-8">
                            <input type="text" class="form-control form-control-sm" name="kcName">
                              <input type="hidden" class="form-control form-control-sm" name="obj_id" value="">
                          </div>
                         </div>
                        <div class="form-group row">
                      <label class="col-lg-4 col-form-label" >Phase name:</label>
                      <div class="col-lg-8">
                          <input type="text" class="form-control form-control-sm" name="phase_name">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="offset-lg-4 col-lg-8">
                          <button type="button" class="btn btn-sm btn-secondary" id="submit_kcph" >Add</button>
                          <button type="reset" class="btn btn-sm btn-light">Reset</button>
                      </div>
                    </div>
                    </form>

                  <label class="font-weight-bold" >External_references:</label>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label" >Source name:</label>
                      <div class="col-lg-9">
                          <input type="text" class="form-control form-control-sm" name="extref_srcname">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label" >URL:</label>
                      <div class="col-lg-9">
                          <input type="text" class="form-control form-control-sm" name="extref_url">
                      </div>
                  </div>
                     <div class="form-group row">
                      <div class="offset-lg-3 col-lg-9">
                          <input type="submit" class="btn btn-sm btn-secondary" value="Add">
                          <input type="reset" class="btn btn-sm btn-light" value="Reset">
                      </div>
                  </div>
                  <div class="form-group">
                  <label class="font-weight-bold" >Hashes:</label>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label" >Hash type:</label>
                      <div class="col-lg-9">
                          <input type="text" class="form-control form-control-sm" name="hash_type">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label" >Hash value:</label>
                      <div class="col-lg-9">
                          <input type="text" class="form-control form-control-sm" name="hash_value">
                      </div>
                  </div>
              </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label" >External Id:</label>
                      <div class="col-lg-9">
                          <input type="text" class="form-control form-control-sm" name="extref_extid">
                      </div>
                  </div>
                    <div class="form-group row">
                      <div class="offset-lg-3 col-lg-9">
                          <input type="submit" class="btn btn-sm btn-secondary" value="Add">
                          <input type="reset" class="btn btn-sm btn-light" value="Reset">
                      </div>
                  </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="Submit">
                  <input type="reset" class="btn btn-light" value="Reset">
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>